 {% extends 'base.html.twig' %}
{% block content %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{{asset('back/img/Capture.jpg')}}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">ᗩᗷOᑌT ᑌᔕ</h5>
                    <h1 class="display-4">𝐎𝐩𝐭𝐢𝐦𝐚𝐥 𝐁𝐥𝐨𝐨𝐝 𝐃𝐨𝐧𝐚𝐭𝐢𝐨𝐧 𝐒𝐞𝐫𝐯𝐢𝐜𝐞𝐬 𝐟𝐨𝐫 𝐘𝐨𝐮 𝐚𝐧𝐝 𝐘𝐨𝐮𝐫 𝐋𝐨𝐯𝐞𝐝 𝐎𝐧𝐞𝐬</h1>
                </div>
                <p> 𝐀𝐭 𝐨𝐮𝐫 𝐛𝐥𝐨𝐨𝐝 𝐝𝐨𝐧𝐚𝐭𝐢𝐨𝐧 𝐜𝐞𝐧𝐭𝐞𝐫, 𝐰𝐞 𝐬𝐭𝐫𝐢𝐯𝐞 𝐭𝐨 𝐩𝐫𝐨𝐯𝐢𝐝𝐞 𝐞𝐱𝐜𝐞𝐩𝐭𝐢𝐨𝐧𝐚𝐥 𝐜𝐚𝐫𝐞 𝐚𝐧𝐝 𝐬𝐮𝐩𝐩𝐨𝐫𝐭 𝐟𝐨𝐫 𝐝𝐨𝐧𝐨𝐫𝐬 𝐚𝐧𝐝 𝐭𝐡𝐞𝐢𝐫 𝐟𝐚𝐦𝐢𝐥𝐢𝐞𝐬. 𝐎𝐮𝐫 𝐦𝐢𝐬𝐬𝐢𝐨𝐧 𝐢𝐬 𝐭𝐨 𝐜𝐫𝐞𝐚𝐭𝐞 𝐚 𝐜𝐨𝐦𝐟𝐨𝐫𝐭𝐚𝐛𝐥𝐞 𝐚𝐧𝐝 𝐰𝐞𝐥𝐜𝐨𝐦𝐢𝐧𝐠 𝐞𝐧𝐯𝐢𝐫𝐨𝐧𝐦𝐞𝐧𝐭 𝐟𝐨𝐫 𝐢𝐧𝐝𝐢𝐯𝐢𝐝𝐮𝐚𝐥𝐬 𝐰𝐡𝐨 𝐰𝐢𝐬𝐡 𝐭𝐨 𝐦𝐚𝐤𝐞 𝐚 𝐝𝐢𝐟𝐟𝐞𝐫𝐞𝐧𝐜𝐞 𝐭𝐡𝐫𝐨𝐮𝐠𝐡 𝐛𝐥𝐨𝐨𝐝 𝐝𝐨𝐧𝐚𝐭𝐢𝐨𝐧. 𝐖𝐢𝐭𝐡 𝐨𝐮𝐫 𝐝𝐞𝐝𝐢𝐜𝐚𝐭𝐞𝐝 𝐭𝐞𝐚𝐦 𝐚𝐧𝐝 𝐬𝐭𝐚𝐭𝐞-𝐨𝐟-𝐭𝐡𝐞-𝐚𝐫𝐭 𝐟𝐚𝐜𝐢𝐥𝐢𝐭𝐢𝐞𝐬, 𝐰𝐞 𝐞𝐧𝐬𝐮𝐫𝐞 𝐚 𝐬𝐞𝐚𝐦𝐥𝐞𝐬𝐬 𝐚𝐧𝐝 𝐫𝐞𝐰𝐚𝐫𝐝𝐢𝐧𝐠 𝐞𝐱𝐩𝐞𝐫𝐢𝐞𝐧𝐜𝐞 𝐟𝐨𝐫 𝐚𝐥𝐥 𝐝𝐨𝐧𝐨𝐫𝐬. 𝐉𝐨𝐢𝐧 𝐮𝐬 𝐢𝐧 𝐨𝐮𝐫 𝐥𝐢𝐟𝐞𝐬𝐚𝐯𝐢𝐧𝐠 𝐞𝐟𝐟𝐨𝐫𝐭𝐬 𝐚𝐧𝐝 𝐜𝐨𝐧𝐭𝐫𝐢𝐛𝐮𝐭𝐞 𝐭𝐨 𝐭𝐡𝐞 𝐡𝐞𝐚𝐥𝐭𝐡 𝐚𝐧𝐝 𝐰𝐞𝐥𝐥-𝐛𝐞𝐢𝐧𝐠 𝐨𝐟 𝐨𝐮𝐫 𝐜𝐨𝐦𝐦𝐮𝐧𝐢𝐭𝐲</p>
                <div class="row g-3 pt-3">
                    <h1>𝐎𝐭𝐡𝐞𝐫 𝐒𝐞𝐫𝐯𝐢𝐜𝐞</h1>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}