<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Confirmation d'email</title>
	</head>
	<body>
		<h1>Vérification de votre email</h1>
		<p>
			Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :
			<a href="{{ 'https://localhost:8000/confirm-email/'~token }}">Confirmer votre email</a>
		</p>
	</body>
</html></link></body></html></a>.</p></body></html>
