{# templates/consultation/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Ajouter Consultation</h1>
          </div>
          <div class="card-body">
            {{ include('consultation/form.html.twig', {'button_label': 'Add'}) }}
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}