{# templates/payment/success.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Paiement réussi</title>
</head>
<body>
    <h1>Paiement réussi</h1>
    <p>Merci pour votre paiement!</p>
</body>
</html>
